#page-body #hero{
    /* position: relative; */
 
}

#page-body #hero .hero-content{
    /* position: relative; */
    display: flex;
    /* max-height: 800px; */
 
}
#page-body #hero .hero-text{
    /* width: 52%; */
    flex: 1;
    position: relative;
    margin-top: 100px;
    /* background-color: red; */
    padding-bottom: 60px;
 
}

#page-body #hero .hero-text h1{
    padding-top: 40px;
}


#page-body #hero .hero-text::before
,#page-body #hero .hero-text::after{
    content: "";
    position: absolute;
    background-color: var(--icon-background-color);
    height: 50px;
    width: 90px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

#page-body #hero .hero-text::before{
    transform: rotate(180deg);
    top: 0;
    left: 20px;

}

#page-body #hero .hero-text .perks span,
#page-body #hero .hero-text .schedule span,
#page-body #hero .toolkit .toolkit-text{
    color: var(--secondary-color);
}


#page-body #hero .hero-text::after{
    /*CHECK THIS ONE*/
    transform: rotate(-90deg) scale(1.5);
    right: -7px;
    bottom: 50%;

}

#page-body #hero .hero-text p,
#page-body #hero .hero-text h1,
#page-body #hero .hero-text i,
#page-body #hero .hero-text span{
    z-index: 5;
}



#page-body #hero .hero-text p{
    padding-bottom: 20px;
}

#page-body #hero .hero-text .perks{
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

#page-body #hero .hero-text .perks i{
    margin-right: 10px; 
    background-color: var(--main-perk-background);
    color: var(--main-perk);
    border-radius: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 8px var(--main-perk-background);
    /* width: 20px; */
}

#page-body #hero .hero-text .perks .perk1{
    margin-right: 20px; 
}

#page-body #hero .hero-text .smartphone-image{
    width: 100%;
    display: none;
}

#page-body #hero .hero-text .smartphone-image img{
    width: 100%;
    height: auto;
}



#page-body #hero .hero-text .schedule{
    padding-bottom: 120px;
    display: flex;
    align-items: center;
    position: relative;
}

#page-body #hero .hero-text .schedule i{
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-background-color);
    border-radius: 3px;
    margin-right: 15px;
    box-shadow: 0px 6px 8px var(--main-color-shadow);
}



#page-body #hero .hero-text .schedule span{
    font-size: 18px;
    font-weight: 700;
}




#page-body #hero .hero-image{
    /* background-color: gray; */

    width: 48%;
    max-width: 400px;/*WORKS LIKE BUTTER*/
    max-width: 450px;
    

 
}

#page-body #hero .hero-image img{
    /* background-color: gray; */
    height: 100%;
    
    object-fit: cover;
    width: 100%;
 
}

#page-body #hero .toolkit{
    

    background-color: rgba(255, 255, 255, 0.9);
    border: solid 3px rgba(255, 255, 255, 1);
    /* border: solid 3px black; */
    

    display: flex;
    align-items: center;
    max-width: 600px;
    justify-content: space-between;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 15px 10px var(--main-color-shadow);

    position: absolute;

    left: 60px;
    bottom: -34px;
}

/*RESTABLISHING NORMAL MARGINS TO 0*/
#page-body #hero .toolkit .toolkit-sub-box .toolkit-text p,
#page-body #hero .toolkit .toolkit-sub-box .toolkit-text h3{
   margin: 0;
   padding: 0;
}

#page-body #hero .toolkit .toolkit-sub-box .toolkit-text p{
    margin-bottom: 12px;
}

#page-body #hero .toolkit .toolkit-sub-box .toolkit-text h3{
    color: var(--secondary-color);
}

#page-body #hero .toolkit .toolkit-sub-box{
    /* background-color: gray; */
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
 
}


#page-body #hero .toolkit .toolkit-sub-box .toolkit-icon i{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-background-color);
    border-radius: 2px;
    margin-right: 12px;
    box-shadow: 0px 6px 8px var(--main-color-shadow);



}


#page-body #hero .toolkit button{
    cursor: pointer;
}

#page-body #hero .toolkit button:hover{
    box-shadow: 0 8px 10px rgba(40,72,198,0.3);
    background-color: var(--secondary-color);
}



/* #page-body #hero::after:hover{
    border-radius: 50% 50% 100% 0% / 100% 100% 0% 0% ;
    background-color: aqua;

} */

